<mat-grid-list [ngClass]="{'text-centralize':true}" cols="3" rowHeight="100px">

    <mat-grid-tile>
            <p class="mat-h1">Team 1</p>
    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>
        <p class="mat-h1">Team 2</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p class="mat-h1">{{this.team1}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
            <p class="mat-h1">x</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p class="mat-h1">{{this.team2}}</p>
    </mat-grid-tile>
</mat-grid-list>